
# Example: mongodb+srv://username:password@cluster0.izpl1se.mongodb.net/mydb
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.izpl1se.mongodb.net/<dbname>


# JWT secret used to sign tokens
JWT_SECRET=replace_with_a_strong_random_secret


PORT=3000
